@font-face {
	font-family: 'YanoneKaffeesatzBoldRegular';
	src: url('yanonekaffeesatz-bold-webfont.eot');
	src: local('?'), url('fonts/yanonekaffeesatz-bold-webfont.woff') format('woff'), url('fonts/yanonekaffeesatz-bold-webfont.ttf') format('truetype'), url('fonts/yanonekaffeesatz-bold-webfont.svg#webfontGxvIBvPt') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'YanoneKaffeesatzLightRegular';
	src: url('yanonekaffeesatz-light-webfont.eot');
	src: local('?'), url('fonts/yanonekaffeesatz-light-webfont.woff') format('woff'), url('fonts/yanonekaffeesatz-light-webfont.ttf') format('truetype'), url('fonts/yanonekaffeesatz-light-webfont.svg#webfontlcTPe4Fx') format('svg');
	font-weight: normal;
	font-style: normal;
}

body { 
	font-family: 'YanoneKaffeesatzLightRegular', Arial;
    color: #4b4b4b; 
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); 
}

img.intro {
	float: left;
}
a.intro {
	left: 15%;
}
h2.intro, h3.intro, p.intro {
	padding-left: 30%;
}

a.action {
	float: right;
}

.errormsg {
	color: red;
	text-align: center;
	text-weight: normal;
}

.statusmsg {
	color: lime;
	text-align: center;
	text-weight: normal;
}